div {border-top: 3px;border-top-style:solid; border-top-color:grey; padding-top: 1em; border-bottom: 3px;border-bottom-style:solid; border-bottom-color:grey; padding-bottom: 1em;}

p{
  margin: 0px;
}